.config/xfce4/xfconf/xfce-perchannel-xml/thunar.xml
.config/ibus/bus/*
.config/onedrive/*.sqlite3*
.config/onedrive/.config.backup
.config/onedrive/session_upload.*
.config/onedrive/refresh_token
.config/dconf/user
.config/session
.config/QtProject.conf